* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  font-family: "poppins";
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-img {
  margin-left: 54px;
}
a {
  text-decoration: none;
}
.header_list {
  display: flex;
  list-style: none;
  gap: 37px;
}
.header_item-link {
}
.header__icons {
  display: flex;
  gap: 22.5px;
}
.header__icons {
  margin-right: 100px;
}
.hero {
  background-image: url("image/scandinavian-interior-mockup-wall-decal-background.png");
  width: 100%;
  height: 716.83px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 56.47px;
}
.hero__content {
  width: 600px;
  height: 440px;
  background-color: #fff3e3;
  padding: 62px 43px 37px 29px;
  position: absolute;
  top: 153px;
  right: 40px;
}
.hero__subtitle {
  color: #333333;
  margin-bottom: 4px;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3px;
}
.hero__title h2 {
  color: #b88e2f;
  width: 559px;
  height: 127px;
  margin-bottom: 17px;
  font-family: "Poppins";
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 0px;
}
.hero__direction {
  max-width: 559px;
  margin-bottom: 46px;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}
.hero_btt {
  width: 222px;
  height: 74px;
  background-color: #b88e2f;
  color: #fff;
  border-width: 0px;
}
.range-intro {
  margin-bottom: 56px;
}
.range-intro__block-title {
  margin-bottom: 62.29px;
}
.range-intro__subtitle,
.range-intro__title {
  max-width: max-content;
  margin: 0 auto;
}
.range-intro__title {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  height: 48px;
  line-height: 100%;
  letter-spacing: 0px;
}
.range-intro__subtitle {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  height: 48px;
  line-height: 100%;
  letter-spacing: 0px;
}
.range-intro__items {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.range-intro__item img {
  width: 310px;
  height: 410px;
}
.range-intro-item__subtitle {
  justify-self: center;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  height: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-top: 30px;
}
.product-section {
  margin: 0 auto 69px auto;
}
.product-section__title {
  justify-self: center;
  font-family: "Poppins";
  font-size: 40px;
  height: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 32px;
}
.product-card {
  margin-bottom: 32px;
  position: relative;
}
.product-card img {
  display: block; /*dung de lam mat di khoang trang duoi anh*/
  width: 270px;
  height: 290px;
  margin-bottom: 0;
}
.btn-sale {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  top: 24px;
  right: 24px;
  color: #fff;
  background-color: #e97171;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-new {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  top: 24px;
  right: 24px;
  color: #fff;
  background-color: #2ec1ac;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .product-container {
  margin: 0 102px;
} */
.product-intro {
  background-color: #f4f5f7;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 30px;
  width: 270px;
}
.product-intro__title {
  font-family: "Poppins";
  font-size: 24px;
  height: 29px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3a3a3a;
}
.product-intro__subtitle {
  font-family: "Poppins";
  font-size: 16px;
  height: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  color: #898989;
}
.producr-intro__cost {
  font-family: "Poppins";
  font-size: 20px;
  height: 30px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  color: #3a3a3a;
  /* margin-bottom: 30px; */
}
.product-section__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product__btt {
  display: block;
  margin: 0px auto;
  color: #b88e2f;
  border: 1px solid #b88e2f;
  width: 245px;
  height: 48px;
  background-color: #fff;
}
.product-card:hover .mouse-hover {
  display: flex;
  flex-direction: column; /* Xếp nút và các icon theo hàng dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center;
}
.product-section .mouse-hover {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .pro-info_item img {
    /* display: block; */
    width: 16px;
    height: 16px;
  }
  .pro-info_item span {
    font-family: "Poppins";
    font-size: 16px;
    height: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    color: #ffffff;
  }
}
.pro-info_item {
  display: flex;
  gap: 4px;
  align-items: center;
}
.mouse-hover button {
  width: 202px;
  height: 48px;
  background-color: #fff;
  border: none;
  color: #b88e2f;
  font-family: "Poppins";
  font-size: 16px;
  height: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 12px auto;
  margin-bottom: 24px;
}
.pro-info {
  display: flex;
  gap: 20px;
  /* align-items: center; */
}
/* Lớp phủ mặc định */
.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0); /* Mặc định trong suốt */
  transition: 0.3s;
}

/* Khi di chuột vào THẺ CHA, lớp phủ mới hiện màu xám */
.product-card:hover .product-card__overlay {
  background-color: rgba(58, 58, 58, 0.72); /* Màu xám đục như mẫu */
}
.block__slide {
  width: 100%;
  height: 400px;
  background-color: #fcf8f3;
  margin-bottom: 67px;
}
.block-share {
  margin-bottom: 50px;
}
.block-share-title {
  justify-items: center;
}
.block-share__subtitle {
  font-family: "Poppins";
  font-size: 20px;
  height: 30px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  color: #616161;
}
.block-share__title {
  font-family: "Poppins";
  font-size: 40px;
  height: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3a3a3a;
}
/* 
.share__img {
  position: relative;
  width: 100%;
  height: 721px;
  // gap: 16px; 
  overflow: hidden;
}
.share__img--item1 {
  position: absolute;
  height: 382px;
  width: 274px;
  top: 0px;
  left: -196px;
}
.share__img--item2 {
  position: absolute;
  top: 70px;
  height: 312px;
  width: 381px;
  left: 94px;
}
.share__img--item3 {
  position: absolute;
  top: 156px;
  height: 392px;
  width: 245px;
  left: 501px;
}
.share__img--item4 {
  position: absolute;
  top: 99px;
  height: 348px;
  width: 240px;
  left: 772px;
}
.share__img--item5 {
  position: absolute;
  top: 14px;
  height: 433px;
  width: 375px;
  left: 1028px;
  right: -100px;
}
.share__img--item6 {
  position: absolute;
  bottom: 0px;
  left: -176px;
  height: 323px;
  width: 331px;
}
.share__img--item7 {
  position: absolute;
  bottom: 81px;
  left: 171px;
  height: 242px;
  width: 294px;
}
.share__img--item8 {
  position: absolute;
  bottom: 16px;
  left: 792px;
  height: 242px;
  width: 178px;
}
.share__img--item9 {
  position: absolute;
  bottom: 62px;
  left: 996px;
  height: 196px;
  width: 208px;
}
 */
.share__img {
  display: flex;
  gap: 16px;
  overflow: hidden;
  height: 721px;
}
.share__left,
.share__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.share__left--h1,
.share__left--h2,
.share__right-h1,
.share__right-h2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.share__left--h1,
.share__right-h1 {
  align-items: flex-end;
}
.share__center {
  display: flex;
  align-items: center;
}
.share__img--item1 {
  height: 382px;
  width: 274px;
  margin-left: -196px;
}
.share__img--item2 {
  height: 312px;
  width: 381px;
}
.share__img--item3 {
  height: 392px;
  width: 245px;
}
.share__img--item4 {
  height: 348px;
  width: 240px;
}
.share__img--item5 {
  height: 433px;
  width: 375px;
  margin-right: -100px;
}
.share__img--item6 {
  height: 323px;
  width: 331px;
  margin-left: -176px;
}
.share__img--item7 {
  height: 242px;
  width: 294px;
}
.share__img--item8 {
  height: 242px;
  width: 178px;
}
.share__img--item9 {
  height: 196px;
  width: 208px;
}
.footer-content {
  display: flex;
  margin: 48px 100px 48px 100px;
}
.footer-company-info {
  flex: 2;
}
.footer-help,
.footer-links,
.footer-newsletter {
  flex: 1;
}
.footer-reverve {
  margin: 48px 100px 48px 100px;
}
.company__name {
  font-family: "Poppins";
  font-size: 24px;
  height: 36px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 50px;
}
.company__dis {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0%;
  color: #9f9f9f;
  max-width: 285px;
}
.footer-links_list,
.footer-help_list,
.footer-newsletter__title {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #9f9f9f;
  margin-bottom: 55px;
}
.links_list_item {
  display: block;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 46px;
}
.newsletter__input {
  display: flex;
  gap: 10px;
}
.newsletter__input input {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  background-color: #fff;
  color: #000;
}
